<h2>New Category</h2>

<section>
{{#each category in model}}
  <div>{{category.title}}</div>
  <div>{{category.description}}</div>
{{/each}}
</section>

<ul class="post-publish">
  <li>
    {{input value=title placeholder="Title"}}
  </li>
  <li>
    {{textarea value=description placeholder="Description"}}
  </li>
  <li>
    <button {{action "publishCategory"}}>Publish</button>
  </li>
</ul>

