<h2>New Tip</h2>

<section>
{{#each tip in model}}
  <div>{{tip.title}}</div>
  <div>{{tip.description}}</div>
{{/each}}
</section>

<ul class="tip-publish">
  <li>
    {{input value=title placeholder="Title"}}
  </li>
  <li>
    {{textarea value=description placeholder="Description"}}
  </li>
  <li>
    <button {{action "publishTip"}}>Publish</button>
  </li>
</ul>

